name: Lint
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: "1.24.x"
      - run: "go install honnef.co/go/tools/cmd/staticcheck@v0.6.0"
      - run: "staticcheck ./..."
