name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    container: golang:1.18-bullseye
    services:
      postgres:
        image: postgres:12.5
        env:
          POSTGRES_PASSWORD: minhareceita
          POSTGRES_USER: minhareceita
          POSTGRES_DB: minhareceita
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
        with:
          go-version: "1.18"
      - run: "apt update && apt install -y postgresql-client"
      - run: "go test --race ./..."
        env:
          TEST_POSTGRES_URI: postgres://minhareceita:minhareceita@postgres:5432/minhareceita?sslmode=disable
